astroid==2.3.3
certifi==2021.10.8
cffi==1.15.1
cryptography==41.0.7
distlib==0.3.4
filelock==3.6.0
flwr==1.5.0
grpcio==1.60.0
importlib-metadata==4.11.3
isort==4.3.21
iterators==0.0.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.21.6
pipenv==2022.4.8
platformdirs==2.5.1
protobuf==3.20.3
pycparser==2.21
pycryptodome==3.19.0
pylint==2.4.4
selenium==3.141.0
six==1.12.0
torch==1.13.1
typed-ast==1.4.1
typing_extensions==4.1.1
urllib3==1.25.8
virtualenv==20.14.1
virtualenv-clone==0.5.7
wrapt==1.11.2
zipp==3.8.0
