astroid==*
certifi==*
cffi==*
cryptography==*
distlib==*
filelock==*
flwr==1.5.0
grpcio==*
importlib-metadata==*
isort==*
iterators==*
lazy-object-proxy==*
mccabe==*
numpy==*
pipenv==*
platformdirs==*
protobuf==*
pycparser==*
pycryptodome==*
pylint==*
six==*
torch==*
typed-ast==*
typing_extensions==*
urllib3==*
virtualenv==*
virtualenv-clone==*
wrapt==*
zipp==*
tensorflow=2.11.0
